/***********************/
.year { 
    font-size: 22px;

}

.work { 
    display:block;
    margin:auto; 
    vertical-align: middle; 
}


.location { 
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}


.name {  
   margin: 15px;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0px 1px 5px #999;
}

#test { 
   text-align: center;

}

.colored { 
    color: #777;
} 
 
 