
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>double_trouble</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="../styles/main.css"> 
        <link rel="stylesheet" href="../styles/custom.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">Double Trouble</h3>
            </div>



            <div class="row marketing"  style="margin-top: 10px;">  
            <h1> Computer Science and Engineeing</h1>

          <h2 class="colored">Contact Information of Current Students</h2>

          <div class="row">
            <div class="col-md-5 name"> 
              <div class="single-item"> 
                <h3>Jorge Fernandes</h3>
                <b>Graduation:</b> June 2016  <br />
                <b>Email: </b> kdsilva@uw.edu <br /> 
                </p>
              </div>
            </div>

            <div class="col-md-5 name"> 
              <div class="single-item"> 
                <h3>Madhav Murthy</h3>
                <small></small>
                <b>Graduation:</b> June 2016  <br />
                <b>Email: </b> kdsilva@uw.edu <br /> 
                </p>
              </div>
            </div>
          </div>

          <!-- 
          <div class="row">
            <div class="col-md-6 name"> 
              <div class="single-item"> 
                <h3>Jorge Fernandes</h3>
                <small></small>
                <b>Graduation:</b> June 2016  <br />
                <b>Email: </b> kdsilva@uw.edu <br /> 
                </p>
              </div>
            </div>

           <div class="col-md-6 name"> 
              <div class="single-item"> 
                 
              </div>
            </div>

          -->
          </div>

          <h2 class="colored">Contact Information of Departmental Advisers</h2>

          <div class="row">
            <div class="col-md-5 name"> 
              <div class="single-item"> 
                <h3>Crystal Eney </h3>
                <small>Lead Adviser</small> <br />
                <b>Email: </b>ceney@cs.washington.edu <br />
                <b>Phone: </b> (206) 543-1695<br /> 
                </p>
              </div>
            </div>


           

            <div class="col-md-5 name"> 
              <div class="single-item"> 
                <h3>Group mailing list</h3> <br /> 
                <b>Email: </b> ugrad-advisor@cs.washington.edu <br /> 
                <b>Phone: </b> (206) 543-1695<br /> 
                </p>
              </div>
            </div>
          </div>

          <h2 class="colored">Cross-listed Courses</h2>
          <ul> 
            <li>CSE 471 → BIOEN 430</li>
            <li>CSE 486 → BIOEN 423</li>
            <li>CSE 487 → BIOEN 424</li> 
          </ul>
             


            <div class="footer">
                <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap/js/affix.js"></script>
        <script src="../bower_components/bootstrap/js/alert.js"></script>
        <script src="../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/bootstrap/js/modal.js"></script>
        <script src="../bower_components/bootstrap/js/transition.js"></script>
        <script src="../bower_components/bootstrap/js/button.js"></script>
        <script src="../bower_components/bootstrap/js/popover.js"></script>
        <script src="../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

<script type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
</body>
</html>
